body{
    margin:0px;
    background-color:#283333;
    
}

.toolbox{
    height:100vh;
    position: absolute;
    
    background-color: #3a4b4b;
    
}

.toolbox .group{
    background-color:#3a4b4b;
  
    
    border-bottom: thin solid gray;
    
}

.toolbox .group .item{
    width:24px;
    height: 24px;
    padding:10px;
    cursor: pointer;
}

.toolbox .group .item img{
    width: 100%;
    height: 100%;
    filter:invert(1);
}

.toolbox .group .item.active, .toolbox .group .item:hover{
    background-color:#4b6161;
}

.toolbox .group.stroks .item{
    position: relative;
}

.toolbox .group.stroks .item .stroke{
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top:50%;
    left:50%;
}

.toolbox .group.colors .item .swatch{
    box-sizing: border-box;
    width:100%;
    height: 100%;
    border:2px white solid;
}

.toolbox.left{
    top:0px;
    left:0px;
}

.toolbox.right{
    top:0px;
    right:0px;
}

#canvas{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:white;
}

/*color selector*/
@import url(https://fonts.googleapis.com/css?family=Open + Sans);

  #color-input {
    display: none;
  }
  #color-label {
    margin-left: 250px;
    position: absolute;

    height: 30px;
    width: 50px;
  }
  #color-input:checked ~ #color-picker {
    opacity: 1;
  }
  #color-picker {
    position: absolute;
    top: 0px;
    left: 45px;
    background-color: white;
    height: 150px;
    width: 185px;
    border: solid 1px #ccc;
    opacity: 0;
    padding: 5px;
  }
  canvas:hover {
    cursor: crosshair;
  }